- if (!everyauth.loggedIn)
    div(data-role='page', data-theme="a")
        div(data-role='header', data-position='fixed')
            h1 Flag-Zigzag
        div(data-role='content', data-theme="a")
            h2 Not Authenticated
- else
    div(data-role='page', id='dashboard', data-theme="a")
        div(data-role='header', data-position='fixed')
            a(href='/', data-icon='home', data-iconpos='notext', data-direction='reverse') Dashboard
            h1 Flag-Zigzag
            a(href='/leaderboard', data-icon='star', data-iconpos='notext') Leaderboard
        div(data-role='content', data-theme="a")
            - if (everyauth.twitter)
                h3(class='logout')
                    a(href='/logout') Logout
                div(class='user-info')
                    img(class='profil-image', src='#{everyauth.twitter.user.profile_image_url}')
                    p Hello
                        b  #{everyauth.twitter.user.name}
                    small 
                        a(href='http://twitter.com/#{everyauth.twitter.user.screen_name}') @#{everyauth.twitter.user.screen_name}
                    div(style='clear:both')
                    // p= JSON.stringify(everyauth.twitter.user)
            ul(data-role='listview', data-inset='true')
                li
                    a(href='memorize')
                        img(src='/images/icons/Memorize.png', class='ui-li-thumb')
                        h3(class='ui-li-heading') Memorize
                        p(class='ui-li-desc') Memory Game with flags
                li
                    a(href='#')
                        img(src='/images/icons/GPS_Questioning.png', class='ui-li-thumb')
                        h3(class='ui-li-heading') GPS Questioning
                        p(class='ui-li-desc') Memory Game with flags
                li
                    a(href='#')
                        img(src='/images/icons/Colorstation.png', class='ui-li-thumb')
                        h3(class='ui-li-heading') Colorstation
                        p(class='ui-li-desc') Memory Game with flags
                li
                    a(href='#')
                        img(src='/images/icons/Europe_Map.png', class='ui-li-thumb')
                        h3(class='ui-li-heading') Europe Map
                        p(class='ui-li-desc') Memory Game with flags
                li
                    a(href='#')
                        img(src='/images/icons/Texturize.png', class='ui-li-thumb')
                        h3(class='ui-li-heading') Texturize
                        p(class='ui-li-desc') Memory Game with flags
    div(data-role='page', id='leaderboard')
        div(data-role='header', data-position='inline', data-position='fixed')
            a(href='/', data-icon='home', data-iconpos='notext', data-direction='reverse') Dashboard
            h1 Leaderboard
            a(href='#leaderboard', data-icon='star', data-iconpos='notext') Leaderboard
        div(data-role='content')
            p Leaderboard