div(data-role='page')
    div(data-role='header', data-position='fixed')
        h1 Flag-Zigzag
    div(data-role='content')
        h2 Not Authenticated
        #twitter-login
            a(href='/auth/twitter', style='border: 0px', rel='external')
                img(style='border: 0px', src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')