- if (!everyauth.loggedIn)
    div(data-role='page')
        div(data-role='header')
            h1 Flag-Zigzag
        div(data-role='content')
            h2 Not Authenticated
            #twitter-login
                a(href='/auth/twitter', style='border: 0px', rel='external')
                    img(style='border: 0px', src='https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png')
- else
    div(data-role='page', id='dashboard')
        div(data-role='header', data-position='fixed')
            h1 Flag-Zigzag
        div(data-role='content')
            - if (everyauth.twitter)
                h2 Hello <b>#{everyauth.twitter.user.name}</b> (@#{everyauth.twitter.user.screen_name})
                // p= JSON.stringify(everyauth.twitter.user)
            ul(data-role='listview', data-inset='true', data-filter='true')
                li
                    a(href='#memorize', data-transition='slide') Memorize
                li
                    a(href='#') GPS Questioning
                li
                    a(href='#') Colorstation
                li
                    a(href='#') Europe Map
                li
                    a(href='#') Texturize
                li
                    a(href='#memorize', data-transition='slide') Memorize
                li
                    a(href='#') GPS Questioning
                li
                    a(href='#') Colorstation
                li
                    a(href='#') Europe Map
                li
                    a(href='#') Texturize
            h3 
                a(href='/logout') Logout
    div(data-role='page', id='memorize')
        div(data-role='header', data-position='inline', data-position='fixed')
            a(href='/', data-icon='home', data-iconpos='notext', data-transition='slide', data-direction='reverse') Dashboard
            h1 Memorize
        div(data-role='content')
            p Memorize