!!!
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/stylesheets/themes/flag-zig-zag-theme.min.css')
        link(rel='stylesheet', href='http://code.jquery.com/mobile/1.1.0/jquery.mobile.structure-1.1.0.min.css')
        script(style='text/javascript', src='http://code.jquery.com/jquery-1.7.1.min.js')
        script(style='text/javascript', src='http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js')
        script(style='text/javascript', src='/socket.io/socket.io.js')
        script(style='text/javascript', src='/javascripts/flag-zig-zag.js')
        script(style='text/javascript', src='/javascripts/memorize.js')
        script(style='text/javascript', src='/javascripts/gps.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/memorize.css')
        link(rel='stylesheet', href='/stylesheets/gps.css')
    body!= body