- if (!everyauth.loggedIn)
    div(data-role='page')
        div(data-role='header', data-position='fixed')
            h1 Flag-Zigzag
        div(data-role='content')
            h2 Not Authenticated
- else
    div(data-role='page', id='leaderboard')
        div(data-role='header', data-position='inline', data-position='fixed')
            a(href='/', data-icon='home', data-iconpos='notext', data-direction='reverse') Dashboard
            h1 Leaderboard
            a(href='/leaderboard', data-icon='star', data-iconpos='notext') Leaderboard
        div(data-role='content')
            p Leaderboard points
            ol(data-role="listview", data-inset="true")
                - for (var key in highscores)
                    - var highscore = highscores[key]
                    li= key
                        span(class='ui-li-count')= highscore