- if (!everyauth.loggedIn)
    div(data-role='page', data-theme="a")
        div(data-role='header', data-position='fixed')
            h1 Flag-Zigzag
        div(data-role='content', data-theme="a")
            h2 Not Authenticated
- else
    div(data-role='page', id='memorize', data-theme="a")
        div(data-role='header', data-position='inline', data-position='fixed')
            a(href='/', data-icon='home', data-iconpos='notext', data-direction='reverse') Dashboard
            h1 Memorize
            a(href='/leaderboard/memorize', data-icon='star', data-iconpos='notext') Leaderboard
        div(data-role='content', data-theme="a")
            div(id='levels')
                h3(class='points') Score: #{score}
                h3(class='headline') Select a level
                div(style='clear:both')
                div(data-role="controlgroup")
                    if(unlockedLevels > 0)
                        a(href="#", data-role="button", id="level1") Level 1
                    if(unlockedLevels > 1)       
                        a(href="#", data-role="button", id="level2") Level 2
                    if(unlockedLevels > 2)
                        a(href="#", data-role="button", id="level3") Level 3
            div(id='board')
​